/* CSS Document */

.nav h2, .nav hr {
display:none;
}
.nav ul {
font-size:10px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
text-align:right;
margin:0;
padding-left:0;
}
.nav li {
border-right:1px solid #D7D7D7;
display:inline;
padding:0 0.75em;
white-space:nowrap;
}
.nav li.last {
border-right:medium none;
}
#mainnav {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#F7F7F7 url(images/topbar_gradient.png) repeat scroll 0 0;
border:1px solid #000000;
font-family:verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
font-size:10px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:10px;
padding:0.2em 0;
}
#mainnav li {
border-right:medium none;
padding:0.25em 0;
}
#mainnav :link, #mainnav :visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/dots.gif) no-repeat scroll 0 0;
border-bottom:medium none;
border-left:1px solid #555555;
border-right:1px solid #FFFFFF;
color:#000000;
padding:0.2em 15px;
}
* html #mainnav :link, * html #mainnav :visited {
background-position:1px 0;
}
#mainnav :link:hover, #mainnav :visited:hover {
background-color:#CCCCCC;
border-right:1px solid #DDDDDD;
}
#mainnav .active :link, #mainnav .active :visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#333333 url(images/topbar_gradient2.png) repeat-x scroll 0 0;
border-right:1px solid #000000;
border-top:medium none;
color:#EEEEEE;
font-weight:bold;
}
#mainnav .active :link:hover, #mainnav .active :visited:hover {
border-right:1px solid #000000;
}

/*
*{
	margin:0;
	padding:0;
}
#menu{
	width:90%;
	margin:25px auto;
}
#menu ul{
	list-style:none;
}
#menu li{
	display:block;
	float:left;
}
#menu li a{
	background:#749b10 url(images/menu_bg.gif) repeat-x;
	border:2px solid #80a225;
	margin:0 1px;
	padding:15px 15px 15px 15px;
	display:block;
	float:left;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	height: 50px;
}
#menu li a span{
	color:#52651f;
	font-size:10px;
	text-transform:lowercase;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
}
#menu li a:hover{
	background:#e46825 url(images/menu_hover.gif) repeat-x;
	border:2px solid #c04118;
	text-decoration:none;
}
#menu li a:hover span{
	color:#ffd9c7;
}
.current{
	background:#e46825 url(images/menu_hover.gif) repeat-x;
	border:2px solid #c04118;
	margin:0 1px;
	padding:15px 15px 15px 15px;
	display:block;
	float:left;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	cursor:pointer;
	font-weight:bold;
	height: 50px;
}
.current span{
	color:#ffd9c7;
	font-size:10px;
	text-transform:lowercase;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
}






*{
	margin:0;
	padding:0;
}
#menu_blue{
	width:90%;
	margin:25px auto;
}
#menu_blue ul{
	list-style:none;
}
#menu_blue li{
	display:block;
	float:left;
}
#menu_blue li a{
	background:#e4e8eb url(images/menu_bg_blue.gif) repeat-x;
	border:2px solid #bdc5cd;
	margin:0 1px;
	padding:15px 15px 15px 15px;
	display:block;
	float:left;
	color:#2b61a1;
	text-transform:uppercase;
	text-decoration:none;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	height: 50px;
}
#menu_blue li a span{
	color:#636363;
	font-size:10px;
	text-transform:lowercase;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
}
#menu_blue li a:hover{
	background:#e46825 url(images/menu_hover_blue.gif) repeat-x;
	border:2px solid #4a88ce;
	text-decoration:none;
}
#menu_blue li a:hover span{
	color:#636363;
}
.current_blue{
	background:#74befd url(images/menu_hover_blue.gif) repeat-x;
	border:2px solid #4a88ce;
	margin:0 1px;
	padding:15px 15px 15px 15px;
	display:block;
	float:left;
	color:#2b61a1;
	text-transform:uppercase;
	text-decoration:none;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	cursor:pointer;
	font-weight:bold;
	height: 50px;
}
.current_blue span{
	color:#636363;
	font-size:10px;
	text-transform:lowercase;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
}





*{
	margin:0;
	padding:0;
}
#menu_grey{
	width:90%;
	margin:25px auto;
}
#menu_grey ul{
	list-style:none;
}
#menu_grey li{
	display:block;
	float:left;
}
#menu_grey li a{
	background:#979797 url(images/menu_bg_grey.gif) repeat-x;
	border:2px solid #939393;
	margin:0 1px;
	padding:15px 15px 15px 15px;
	display:block;
	float:left;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	height: 50px;
}
#menu_grey li a span{
	color:#636363;
	font-size:10px;
	text-transform:lowercase;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
}
#menu_grey li a:hover{
	background:#e46825 url(images/menu_hover_grey.gif) repeat-x;
	border:2px solid #939393;
	text-decoration:none;
}
#menu_grey li a:hover span{
	color:#636363;
}
.current_grey{
	background:#bcbcbc url(images/menu_hover_grey.gif) repeat-x;
	border:2px solid #aeaeae;
	margin:0 1px;
	padding:15px 15px 15px 15px;
	display:block;
	float:left;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	cursor:pointer;
	font-weight:bold;
	height: 50px;
}
.current_grey span{
	color:#636363;
	font-size:10px;
	text-transform:lowercase;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
}
*/